// sidebar
$menuText: #c8c9cc;
$menuHoverText: #fff;
$menuActiveText: #333;
$subMenuActiveText:#f4f4f5; //https://github.com/ElemeFE/element/issues/12951

$menuBg: #444444;
$menuHoverBg: #666;

$subMenuBg:#1f2d3d;
$subMenuHoverBg:#001528;
$subMenuActiveBg: #ebedf0;
$subMenuHoverColor: #155bd4;
$subMenuColor: #323233;


$sideBarWidth: 92px;
$subSideBarWidth: 132px;
// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuHoverText: $menuHoverText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHoverBg: $menuHoverBg;
  subMenuBg: $subMenuBg;
  subMenuHoverBg: $subMenuHoverBg;
  subMenuActiveBg:$subMenuActiveBg;
  subMenuColor:$subMenuColor;
  subMenuHoverColor: $subMenuHoverColor;
  sideBarWidth: $sideBarWidth;
}
